<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Events</title>
    <link rel="stylesheet" href="assets/style.css" />
    <script src="https://unpkg.com/vue@3.0.5/dist/vue.global.prod.js"></script>
    <script src="https://unpkg.com/faker@5.5.3/dist/faker.min.js"></script>
  </head>
  <body>
    <div id="app">
      <header>
        Online Events
        <div>Tickets ({{cart}})</div>
      </header>
      <main>
        <article>
          <div>
            <h2>
              {{ title.split('').join('-') }} <span v-if="soldOut">sold</span>
            </h2>
            <!-- <p v-if="tickets > 15">On sale now!</p>
            <p v-else-if="tickets <= 15 && tickets > 0">
              Tickets are running log! Only {{tickets}} left.
            </p>
            <p v-else>Sorry. We're sold out.</p> -->
            <ul>
              <li v-for="(detail, index) in details" :key="detail">
                {{index}} - {{detail}}
              </li>
            </ul>
            <input v-model="message" placeholder="Message" />
            <p>Your message: {{message}}</p>
            <ul class="ticket__types">
              <ticket-details
                v-for="type in ticketTypes"
                :key="type.id"
                :name="type.name"
                :image="type.image"
                :tickets="type.tickets"
                @buy-tickets="buyTickets"
                @update-image="updateImage"
              />
            </ul>
          </div>
          <!-- <img v-bind:src="image" alt="" srcset="" /> -->
          <!-- :class="{'sold-out': soldOut, 'hidden': hidden}" -->
          <!-- :class="[{'sold-out': soldOut}, {'hidden': hidden}]" -->
          <!-- :class="[soldOut ? soldOutClass : '', hidden ? hiddenClass: '']" -->
          <!-- :class="{[soldOutClass]: soldOut, [hiddenClass]: hidden}" -->
          <img
            :src="image"
            class="item__image"
            :class="{[soldOutClass]: soldOut, [hiddenClass]: hidden}"
            alt=""
            srcset=""
          />
        </article>
      </main>
    </div>
    <script src="main.js"></script>
    <script src="components/ticketDetails.js"></script>
    <script>
      const mountedApp = app.mount("#app");
    </script>
  </body>
</html>
