* {
  margin: 0;
  padding: 0;
}

ul {
}

body {
  padding: 16px;
}

header {
  display: block;
  background: grey;
  padding: 20px;
  font-size: 30px;
  color: white;
  text-align: center;
  position: relative;
  border-radius: 8px;
}

header > div {
  border: 1px solid white;
  border-radius: 8px;
  padding: 8px 16px;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

main {
  margin: 16px 0;
}

article {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

article ul,
article li {
  margin: revert;
  padding: revert;
}

.ticket__types {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ticket__types li {
  display: inline-block;
  text-align: center;
  padding: 8px;
  margin: 0 4px;
  border: 1px solid grey;
  border-radius: 8px;
}

.ticket__types li:first-of-type {
  margin-left: 0;
}

.ticket__types li:last-of-type {
  margin-right: 0;
}

.ticket__types li button {
  margin: 8px 4px 0;
  padding: 4px;
  border: 1px solid grey;
  border-radius: 4px;
  outline: none;
  box-shadow: none;
}
